.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin-left: 2em;

  background-color: #F4F4FC;
  opacity: 1;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  background-color: #7575E2;
}
.swiper-pagination {
  width: auto !important;
  position: absolute !important;
  left: 90% !important;
  bottom: 15px !important;
}
