.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.not-found__content {
  text-align: center;
}

.not-found__title {
  font-size: 10em;
  color: #dc3545;
  margin-bottom: 10vh;
}

.not-found__description {
  font-size: 1.5em;
  margin-bottom: 5vh;
}

.not-found__link {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.not-found__link:hover {
  background-color: #0056b3;
}